#fcodeform {
    width: 25%;
    height: 70%;
    /* background-color: rgb(158, 241, 252); */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 25px 35px 30px -10px rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(2, 219, 158);
}

#fcodeform h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    color: rgb(0, 59, 126);
    margin-bottom: 15px;
    padding: 20px;
}

#fcodeform input[type="text"], #fcodeform input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: rgb(43, 44, 44);
}

#fcodeform p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
}

#add {
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    background-color: rgb(64, 138, 42);
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    transition: .2s;
}

#add:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(22, 194, 36);
    font-size: 20px;
}

#cancel {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: transparent;
    background-color: rgb(223, 145, 56);
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    transition: .2s;
}

#cancel:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(194, 22, 22);
    font-size: 20px;
}