#fcodeform {
    width: 70%;
    height: 20%;
    
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 25px 35px 30px -10px rgba(0, 0, 0, 0.527);
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 219, 158);
}

#fcodearea {
    width: 65%;
    height: 100%;
    
}

#fcodedelete {
    width: 35%;
    height: 100%;
    position: relative;
    
}

#fcodedelete input[type="submit"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    background-color: rgb(204, 123, 30);
    color: aliceblue;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    transition: .2s;
}

#fcodedelete input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 35, 9);
    font-size: 20px;
}
